<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
  <a class="navbar-brand" href="#">Shop Admin Panel</a>
  
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary">Добавить товар</button>
    <button type="button" class="btn btn-secondary">Добавить категорию</button>
  </div>

</nav>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"> 
        <button type="button" class="btn btn-secondary btn-sm float-md-left">х</button> &nbsp;
        Категория 1 &nbsp; <span class="badge badge-default">0</span></li>
      <li class="list-group-item">Без названия &nbsp; <span class="badge badge-default">0</span></li>
    </ul>
  </div>

  <div class="col-md-8">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Название товара</th>
          <th>Цена / закуп</th>
          <th>Цена</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Товар 1</td>
          <td>2000</td>
          <td>2500</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary btn-sm">Удалить</button>
              <button type="button" class="btn btn-secondary btn-sm">Изменить</button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>