body {
	background:
		radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
		radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
		radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
		radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
		radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
		radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
		radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
		radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
		linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
		linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
	background-color: #300; 
	background-size: 100px 100px;
}
.navbar {
	background: rgba(0,0,0,.5);
}
.navbar a {
	color: #fff !important;
}
.navbar .btn-group {
	position: absolute;
    right: 15px;
}



.list-group .list-group-item {
	background-color: rgba(0,0,0,.5) !important;
	color: #fff !important;
	border-radius: 0px !important;
}
.list-group .list-group-item:hover {
	background-color: rgba(0,0,0,.6) !important;
}
.list-group .list-group-item.disabled:hover {
	background-color: rgba(0,0,0,.5) !important;
}
.list-group .list-group-item.disabled:after {
	content: ' ';
	width: 100%; height: 100%;
	display: block;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0,0,0,.5);
}


.table {
	margin: 0;
}
.table thead tr th {
	background-color: rgba(0,0,0,.5) !important;
	color: #fff !important;
}
.table tbody {
	background-color: rgba(255,255,255,.5);
}
.table tbody tr:hover {
	background-color: rgba(255,255,255,.6);
}



.input-group-addon {
	width: 200px;
	text-align: right;
}



.loading-back:before,
.loading-back:after,
.loading-init:before,
.loading-init:after {
	content: ' ';
	width: 100%; height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
	position: absolute;
	top: 0; left: 0;
}
.loading-back.loading-padding:before,
.loading-back.loading-padding:after {
	width: auto !important;
	left: 15px; right: 15px;
	z-index: 999999;
}
.loading-back:before {
	background-color: rgba(255,255,255,.8);
}
.loading-back:after {
	background: url(../images/loading.gif) center center no-repeat;
}


.loading-init:before {
	z-index: 9999999;
	background:
		radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
		radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
		radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
		radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
		radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
		radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
		radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
		radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
		linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
		linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
	background-color: #300; 
	background-size: 100px 100px;
}
.loading-init:after {
	z-index: 9999999;
	content: 'Загрузка приложения. Пожалуйста, подождите...';
	padding-top: 70px;
	color: #fff;
	background: url(../images/loading.gif) center center no-repeat;
}