html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.navbar {
	background: rgba(255,255,255,.9) !important;
}

.menubar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.menubar h4 {
  padding-left: 10px;
}
.menubar ul li {
  margin: 0 !important;
  position: relative;
  transition: all .1s ease-in-out;
}
.menubar ul li:hover {
  background: rgba(255,255,255,.6);
}
.menubar ul li a {
  padding: 10px;
  padding-left: 45px;
  display: inline-block;
  color: #333;
  text-decoration: none !important;
  width: 100%;
  box-sizing: padding-box !important;
}
.menubar ul li button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  transition: all .1s ease-in-out;
  width: 44px;
  height: 44px;
  background: none;
  color: #333;
  cursor: pointer;
}
.menubar ul li button:hover {
  background: rgba(30,30,30,.5);
  color: #fff;

}
.menubar ul li span {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menubar {
  background: rgba(255,255,255,.5);
  text-align: left;
}


.list-group .list-group-item.disabled:after {
	content: ' ';
	width: 100%; height: 100%;
	display: block;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0,0,0,.5);
}


.table {
	margin: 0;
}
.table thead tr th {
	background-color: rgba(0,0,0,.5) !important;
	color: #fff !important;
}
.table tbody {
	background-color: rgba(255,255,255,.5);
}
.table tbody tr:hover {
	background-color: rgba(255,255,255,.6);
}



.input-group-addon {
	width: 200px;
	text-align: right;
}



.loading {
	content: ' ';
	width: 100%; height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
	position: absolute;
	top: 0; left: 0;
}
.loading.hided {
  display: none;
}


.load-stage {
  display: none;
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
