html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #76b852;
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
  background: linear-gradient(to right, #8DC26F, #76b852);
  background-size: 100% 100%;
}
.navbar {
	background: rgba(255,255,255,.5);
}
.navbar a {
	color: #333 !important;
}
.navbar .btn-group {
	position: absolute;
    right: 15px;
}


.menubar {
  background: rgba(255,255,255,.5);
  text-align: left;
}


.list-group .list-group-item.disabled:after {
	content: ' ';
	width: 100%; height: 100%;
	display: block;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0,0,0,.5);
}


.table {
	margin: 0;
}
.table thead tr th {
	background-color: rgba(0,0,0,.5) !important;
	color: #fff !important;
}
.table tbody {
	background-color: rgba(255,255,255,.5);
}
.table tbody tr:hover {
	background-color: rgba(255,255,255,.6);
}



.input-group-addon {
	width: 200px;
	text-align: right;
}



.loading-back:before,
.loading-back:after,
.loading-init:before,
.loading-init:after {
	content: ' ';
	width: 100%; height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
	position: absolute;
	top: 0; left: 0;
}
.loading-back.loading-padding:before,
.loading-back.loading-padding:after {
	width: auto !important;
	left: 15px; right: 15px;
	z-index: 99999999 !important;
}
.loading-back:before {
	background-color: rgba(255,255,255,.8);
	z-index: 99999999 !important;
}
.loading-back:after {
	background: url(../images/loading.gif) center center no-repeat;
	z-index: 99999999 !important;
}


.loading-init:before {
	z-index: 999999999;
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
}
.loading-init:after {
	z-index: 999999999;
	content: 'Загрузка приложения. Пожалуйста, подождите...';
	padding-top: 70px;
	color: #fff;
	background: url(../images/loading.gif) center center no-repeat;
}
